{% extends 'layout.html.twig' %}
{% block title %}{{ "It works!"|trans }}{% endblock %}

{% block content %}
<div class="row">
  <div class="span4">
    <h2>{{ "Users"|trans }}</h2>
    <p>{{ "Here's some users from the database:"|trans }}</p>
    <ul>
      {% for user in users %}
      <li><a href="{{ path('user', {'_locale': locale, 'id': user.id }) }}">{{ user.firstname }} {{ user.lastname }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endblock %}