{% extends 'Demo/layout.html.twig' %}
{% block title %}{{ "It works!"|trans }}{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
      <h2>{{ "New User"|trans }}</h2>
        <form action="{{ path('new_user') }}" class="form-vertical" method="post">
            {{ form_widget(form) }}
            <button id="btn-create" type="submit" class="btn btn-primary">{{ "Create"|trans }}</button>
            <button id="btn-cancel" class="btn" data-dismiss="modal">{{ "Cancel"|trans }}</button>
      </form>
    </div>
</div>
{% endblock %}